body{
    background-image: url("images/cine.jpg");background-size: cover;
}

/* Código de modificación del índice */
#indice {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
    gap: 20px;
}

#indice a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s;
}

#indice a:hover {
    color: darkblue;
}

/* Código de modificación de 'lista' */
#peliculas {
    text-align: center;
}

#peliculas h2 {
    color: #333;
    font-size: 2.5em;
    margin-top: 0px;
    padding: 4px;
    background: radial-gradient(circle, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
}

#peliculas p:first-of-type {
    color: #666;
    font-size: 1.1em;
    background: radial-gradient(circle, rgb(236, 236, 236) 10%, rgba(221, 221, 221, 0) 50%);
}

#peliculas #lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

#peliculas #pelicula{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 180px;
    height: 200px; /* Se puede agregar una imagen con la portada de la película o dejar únicamente el texto */
    margin: 10px;
    padding: 15px;
    transition: transform 0.2s, border 0.2s;
}

#peliculas #pelicula:hover {
    transform: scale(1.1);
    border: 3px solid darkblue;
}

#peliculas a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
}

/* Fin del código de 'lista' */