body{
    background-image: url("images/cine.jpg");background-size: cover;
    height: 100%;
}

/* Código de modificación del índice */
header{
    background-color: black;
}

header #moviestore{
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    padding-top: 20px;
}

header #moviestore h1{
    flex-grow: 1;
    text-align: center;
    margin-right: 250px;
}

nav ul a {
    text-decoration: none; 
}

nav ul{
    margin-left: 40px;
    padding-top:20px;
    padding-bottom: 10px;     
}

nav li{
    display: inline; 
    margin-right: 70px; 
}

nav{
    display: flex;
    justify-content: center;
}

#indice {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top-color: white;
    border-top-style: solid;
    
}

#indice a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: font-size 0.2s, color 0.5s;
}

#indice a:hover {
    color: darkblue;
    background-color: #f9a825;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

/* Principio del codigo para el footer*/

footer {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

#info p {
    margin: 5px 0;
}

footer strong {
    color: #f9a825;
}

/* Fin del codigo del footer

/* Código de modificación de perfil */

#perfil {
    display: flex;
    align-items: center;  /* Centra los elementos verticalmente */
    margin-top: 20px;
}

#perfil img {
    border-radius: 45px;
    margin-right: 15px;
    width: 60px;
    height: auto;
}

#usuario p {
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: normal;
}

#usuario strong {
    color: #f9a825;
}

/* Código de modificación de 'lista' */
#peliculas {
    text-align: center;
    font-weight: bold;
}

#peliculas h2 {
    color: #333;
    font-size: 2.5em;
    margin-top: 0px;
    padding: 4px;
    background: radial-gradient(circle, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
}

#peliculas p:first-of-type {
    color: #666;
    font-size: 1.1em;
    background: radial-gradient(circle, rgb(236, 236, 236) 10%, rgba(221, 221, 221, 0) 50%);
}

#peliculas #lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

#peliculas a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 180px;
    height: 250px; /* Se puede agregar una imagen con la portada de la película o dejar únicamente el texto */
    margin: 10px;
    padding: 15px;
    transition: transform 0.2s, border 0.2s;
}

#peliculas a:hover {
    transform: scale(1.1);
    border: 3px solid darkblue;
}

#peliculas img {
    border-radius: 15px;
}

/* Lista en base al género */

#tituloGenero {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-top: 0px;
    padding: 4px;
    background: radial-gradient(circle, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
}

#listaGenero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}

#listaGenero a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 180px;
    height: 250px; /* Se puede agregar una imagen con la portada de la película o dejar únicamente el texto */
    margin: 10px;
    padding: 15px;
    transition: transform 0.2s, border 0.2s;
}

#listaGenero a:hover {
    transform: scale(1.1);
    border: 3px solid darkblue;
}

#listaGenero img {
    border-radius: 15px;
}

/* Fin del código de 'lista' */
/* Código de modificación de 'director' */

#directores {
    text-align: center;
}

#directores h2 {
    color: #333;
    font-size: 2.5em;
    margin-top: 0px;
    padding-top: 4px;
    background: radial-gradient(circle, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
}

#directores #lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
}

#directores #director {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: auto 0;
    text-align: center;
    width: 1000px;
    padding: 8px;
    transition: transform 0.2s, border 0.2s;
}

#directores #director:hover {
    transform: scale(1.03);
    border: 1px solid darkblue;
}

#directores a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
}

#barraBusquedaPeliculas {
    width: 20%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#barraBusquedaPeliculas:focus {
    border-color: darkblue;
    outline: none;
}

#barraBusquedaPeliculas::placeholder {
    color: #888;
    font-style: italic;
}

#barraBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#barraBusqueda form {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 10px;
    width: 30%;
}

#barraBusqueda input[type="text"] {
    flex-grow: 1;     /* Espacio ocupado por la barra */
    padding: 6px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f1f1f1;
}

#barraBusqueda input[type="text"]:focus {
    border-color: darkblue;
}

#barraBusqueda button {
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #f1f1f1;
    color: black;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: border 0.3s ease;
}

#barraBusqueda button:hover {
    border-color: darkblue;
}

/* Fin del código de 'director' y busqueda */

/* Código de la ventana de detalles de una película */

#informacionPelicula {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-top: 0px;
    padding: 4px;
    background: radial-gradient(circle, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
}

#frame {
    display: flex;
    align-items: stretch;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#imagen {
    flex: 1;
    max-width: 50%;
}

#imagen img {
    width: 100%;
    height: auto;
    display: block;
}

#informacion {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#informacion p {
    margin: 10px 0;
    font-size: 20px;
    line-height: 2;
}
#dir{
 color:black;
 text-align: center;
 padding: 50px;
}

/* Fin del código de detalles de película */

/* Codigo de Genero */

#generos {
    text-align: center;
}

#generos h2{
    color: #333;
    font-size: 2.5em;
    margin-top: 0px;
    padding: 4px;
    background: radial-gradient(circle, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
}

#generos #listaGeneros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

#generos a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 180px;
    height: 200px; /* Se puede agregar una imagen con la portada de la película o dejar únicamente el texto */
    margin: 10px;
    padding: 15px;
    transition: transform 0.2s, border 0.2s;
}

#generos a:hover {
    transform: scale(1.1);
    border: 3px solid darkblue;
}

#generos img {
    border-radius: 15px;
}

/* Fin del código de genero */

/* Codigo de Alquilar (formulario)*/

#formulario {
    text-align:center;
}

#formulario h2 {
    color: #333;
    font-size: 2.5em;
    margin-top: 0px;
    padding: 4px;
    background: radial-gradient(circle, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
}

#formulario form {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin-top:50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    border-style: solid;
    border-color:white;
    color: white;
}

#formulario label{
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

#resultado {
    background-color: white;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

/* Fin del código de alquilar (formulario)*/

/*Login y registro*/

#login {

    background-color: #f0f0f0;
    text-align: center;
}

#out {
    background-color: #f0f0f0;
    text-align: center;
    padding: 40px;
}
#out a{
font-size: large;

}
#register{
    background-color: #f0f0f0;
    text-align: center;

}