{% extends "movies/layout.html" %} 
{% load static%}
{% block title %} MovieStore {% endblock %} 


{% block body %}    


    {% if tipo == 'director' %}
        <div id="dir">
            <h3>{{nombre}}   </h3>
        </div>
        <div id="listaGenero">
        {% for item in pelis  %}   

            <a href="{% url 'detalles' nombre=item tipo='lista' %}">
                <p id = "pelicula"> {{item}}</p>
                <img src="{% static 'movies/images/' %}{{item}}.jpg" alt="Portada de {{ item }}" width="100">
            </a>
        {% endfor %}
        </div>


    {% elif tipo == 'genero' %}
        <p id ="tituloGenero"><strong>Lista de películas de {{genero}}</strong></p>
        <div id = "listaGenero">
            {% for item in peli  %}   
                <a href="{% url 'detalles' nombre=item.0 tipo='lista' %}">
                    <p id = "pelicula"> {{item.0}}</p>
                    <img src="{% static 'movies/images/' %}{{item.0}}.jpg" alt="Portada de {{ item.0 }}" width="100">
                </a>
            {% endfor %} 
        </div>


    {% elif tipo == 'lista' %}
        <p id="informacionPelicula"><strong>Informacion de {{nombre}}</strong></p>
        <div id="frame">
            <div id="imagen">
                <img src="{% static 'movies/images/' %}{{nombre}}.jpg" alt="Portada (placeholder) de {{ nombre }}">
            </div>
           <div id="informacion">
                <fieldset id = titulos>
                    <p id="titulo"> <strong>Título:</strong><br> {{peli.0}} </p><br>
                </fieldset>
                <fieldset id = "generos">
                    <p id="genero"> <strong>Género:</strong><br> {{peli.1}} </p><br>
                </fieldset>
                <fieldset>
                    <p id="tipo"> <strong>Tipo:</strong><br> {{peli.2}} </p><br>
                </fieldset>
                <fieldset>
                    <p id="director"> <strong>Director(es):</strong><br> {{peli.3}} </p><br>
                </fieldset>
                {%if user.is_authenticated %}
                    <div id="botonesEditar">
                        <form action="{% url 'delete' peli=peli.0 %}" method="post">
                            {% csrf_token %}
                            <input class="button" type="submit" name="Borrar"  value="Borrar">
                        </form>
                        <form action="{% url 'updatePage' peli=peli.0 %}" method="post">
                            {% csrf_token %}
                            <input class="button" type="submit" name="Editar"  value="Editar">
                        </form>
                    </div>
                {%endif%}
           </div> 
            
        </div>
    {%endif%}


{%endblock%}