{% extends "movies/layout.html" %} 

{% block title %} MovieStore {% endblock %} 


{% block body %}    


    {% if tipo == 'director' %}
        <h3>Director</h3>
        <p>{{nombre}}</p>
        {% for item in pelis  %}   
            <li>  {{item}} </li>
        {% endfor %}


    {% elif tipo == 'genero' %}
        <p id ="tituloGenero"><strong>Lista de películas de {{genero}}</strong></p>
        <div id = "listaGenero">
            {% for item in peli  %}   
                <a href="{% url 'detalles' nombre=item.0 tipo='lista' %}"><p id = "pelicula"> {{item.0}}</p></a>
            {% endfor %} 
        </div>


    {% elif tipo == 'lista' %}
        <p id="informacionPelicula"><strong>Informacion de {{nombre}}</strong></p>
        <div id="frame">
            <div id="imagen">
                <img src="images/bambi.jpg" alt="Portada (placeholder) de {{ nombre }}" />
            </div>
           <div id="informacion">
                <p id="titulo"> <strong>Título:</strong> {{peli.0}} </p>
                <p id="genero"> <strong>Género:</strong> {{peli.1}} </p>
                <p id="tipo"> <strong>Tipo:</strong> {{peli.2}} </p>
                <p id="director"> <strong>Director:</strong> {{peli.3}} </p>
           </div> 
        </div>
    {%endif%}


{%endblock%}