{% extends "movies/layout.html" %} 

{% block title %} MovieStore {% endblock %} 


{% block body %}    


    {% if tipo == 'director' %}
        <h3>Director</h3>
        <p>{{nombre}}</p>
        {% for item in peli  %}   
            <li>  {{item}} </li>
        {% endfor %}


    {% elif tipo == 'genero' %}
        <p>Genero</p>
        <p>{{nombre}}</p>
        {% for item in peli  %}   
            <li>  {{item.0}},  {{item.1}},  {{item.2}},  {{item.3}}</li>
        {% endfor %}


    {% elif tipo == 'lista' %}
        <p>lista</p>
        <p>{{nombre}}</p>
        {% for item in peli  %}  
           <li>  {{item}} </li>

        {% endfor %}
    {%endif%}


{%endblock%}