{% extends "movies/layout.html" %}


{% block body %}
    <section id="formulario">
        <h3><u>Formulario de adopción</u></h3>
        <form action="form.php" method="post">
            <fieldset>
                <legend><strong>Datos del cliente</strong></legend>
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id = "nombre"><br>
                <br>

                <label for="apellido">Apellido: </label>
                <input type="text" name="apellido" id = "apellido"><br>
                <br>

                <label for="email">Email: </label>
                <input type="text" name="email" id="email"><br>
                <br>

                <label for="telefono">Telefono: </label>
                <input type="text" name="telefono" id="telefono">
                <br>
            </fieldset>
            <fieldset>
                <legend><strong>Accesorios de la tienda</strong></legend>
                <label for="perros">Perros:</label>
                <select id="accesorio-perros" name="perros" multiple size="3">
                    <option>Comida</option>
                    <option>Comedero</option>
                    <option>Correa</option>
                </select>

                <label for="gatos">Gatos:</label>
                <select id="accesorio-gatos" name="gatos" multiple size="3">
                    <option>Comida</option>
                    <option>Cama</option>
                    <option>Cepillo</option>
                </select>

                <label for="conejos">Conejos:</label>
                <select id="conejos" name="conejos" multiple size="3">
                    <option>Comida</option>
                    <option>Comedero</option>
                    <option>Bebedero</option>
                </select>

                <label for="cobayas">Cobayas:</label>
                <select id="cobayas" name="cobayas" multiple size="2">
                    <option>Comida</option>
                    <option>Jaula</option>
                </select>

                <label for="aves">Aves:</label>
                <select id="accesorio-aves" name="aves" multiple size="3">
                    <option>Comida</option>
                    <option>Bebedero</option>
                    <option>Comedero</option>
                </select>

                <label for="acuaticos">Acuáticos:</label>
                <select id="accesorio-acuaticos" name="acuaticos" multiple size="5">
                    <option>Comida tortugas</option>
                    <option>Comida peces</option>
                    <option>Pecera</option>
                    <option>Arena</option>
                    <option>Decoración</option>
                </select>
            </fieldset>
            <fieldset>
                <legend><strong>Mascotas</strong></legend>
                <label for="perros">Perros:</label>
                <select id="perros" name="perros">
                    <option disabled selected>Selecciona una opción</option>
                    <option>Border</option>
                    <option>Bulldog</option>
                    <option>Caniche</option>
                    <option>Chihuahua</option>
                    <option>Dalmata</option>
                    <option>Rottweiler</option>
                    <option>Labrador</option>
                </select>

                <label for="gatos">Gatos:</label>
                <select id="gatos" name="gatos">
                    <option disabled selected>Selecciona una opción</option>
                    <option>Común</option>
                    <option>Persa</option>
                    <option>Siames</option>
                </select>

                <div class="conejo-cobaya">
                    <label for="conejos">Conejo</label>
                    <input type="checkbox" name="conejo" value="o">

                    <label for="cobayas">Cobaya</label>
                    <input type="checkbox" name="cobaya" value="e">
                </div>

                <label for="aves">Aves:</label>
                <select id="aves" name="aves">
                    <option disabled selected>Selecciona una opción</option>
                    <option>Loro</option>
                    <option>Periquito</option>
                </select>

                <label for="acuaticos">Acuáticos:</label>
                <select id="acuaticos" name="acuaticos">
                    <option disabled selected>Selecciona una opción</option>
                    <option>Pez</option>
                    <option>Tortuga</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="aves">Comentario o recomendación sobre nuestros productos del catálogo:</label>
                <br>
                <textarea name="textarea" rows="10" cols="50"></textarea>
            </fieldset>
            <label for="aceptar">Acepto las condiciones</label>
            <input id="aceptar" type="checkbox" name="aceptar" value="a">
            <br>

            <br>
            <input id="enviar" type="submit" value="Enviar">
        </form>
    </section>
{%endblock%}