{% extends "movies/layout.html" %}


{% block body %}
    <div id="formulario">
        <h2><strong>Alquila peliculas</strong></h2>
        <form id = "datos" action="form.php" method="post">
            <!-- Si esta con su usuario se rellenan automaticamente -->
            <legend><strong>Datos del cliente</strong></legend>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" id = "nombre"><br>
            <br>

            <label for="apellido">Apellido: </label>
            <input type="text" name="apellido" id = "apellido"><br>
            <br>

            <label for="email">Email: </label>
            <input type="text" name="email" id="email"><br>
            <br>
        </form>
        <form id = "pelicula" action = "form.php" method = "post">
            <legend><strong>Seleccionar pelicula</strong></legend>
            <input type="text" id="barraBusquedaPeliculas" placeholder="Buscar película..."></input>
            <div id = "resultado">

            </div>
        </form>
        <form action="/submit" method="post">
            <legend><strong>Seleccione una fecha:</strong></legend>
            <input type="date" id="fecha" name="fecha" required>
        </form>




        <form id = "pel" action="form.php" method="post">
            <legend><strong>iula</strong></legend>
            <label for="ciencia">Ciencia</label>
            <select id="pelicula_ciencia" name="ciencia" multiple size="3">
                <option>opcion1</option>
            </select>

            <label for="miedo">miedo</label>
            <select id="pelicula_miedo" name="miedo" multiple size="5">
                <option>opcion 1</option>
                <option>opcion 2</option>
            </select>
        </form>
            <fieldset>
                <legend><strong>Mascotas</strong></legend>
                <label for="perros">Perros:</label>
                <select id="perros" name="perros">
                    <option disabled selected>Selecciona una opción</option>
                    <option>Border</option>
                    <option>Bulldog</option>
                    <option>Caniche</option>
                    <option>Chihuahua</option>
                    <option>Dalmata</option>
                    <option>Rottweiler</option>
                    <option>Labrador</option>
                </select>
                <label for="gatos">Gatos:</label>
                <select id="gatos" name="gatos">
                    <option disabled selected>Selecciona una opción</option>
                    <option>Común</option>
                    <option>Persa</option>
                    <option>Siames</option>
                </select>

                <div class="conejo-cobaya">
                    <label for="conejos">Conejo</label>
                    <input type="checkbox" name="conejo" value="o">

                    <label for="cobayas">Cobaya</label>
                    <input type="checkbox" name="cobaya" value="e">
                </div>

                <label for="aves">Aves:</label>
                <select id="aves" name="aves">
                    <option disabled selected>Selecciona una opción</option>
                    <option>Loro</option>
                    <option>Periquito</option>
                </select>

                <label for="acuaticos">Acuáticos:</label>
                <select id="acuaticos" name="acuaticos">
                    <option disabled selected>Selecciona una opción</option>
                    <option>Pez</option>
                    <option>Tortuga</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="aves">Comentario o recomendación sobre nuestros productos del catálogo:</label>
                <br>
                <textarea name="textarea" rows="10" cols="50"></textarea>
            </fieldset>
            <label for="aceptar">Acepto las condiciones</label>
            <input id="aceptar" type="checkbox" name="aceptar" value="a">
            <br>

            <br>
            <input id="enviar" type="submit" value="Enviar">
        </form>
    </div>
   
{%endblock%}