{% extends "movies/layout.html" %} 
{% load static %}
{% block title %} 
    MovieStore 
{% endblock %} 


{% block body %}    
<ul>
    <li>
        <div id="listaGenero">
            {% for movy in items  %}   
                
                <a href="{% url 'detalles' nombre=movy tipo='lista' %}">
                    <p id = "pelicula"> {{movy}}</p>
                    <img src="{% static 'movies/images/' %}{{movy}}.jpg" alt="Portada de {{ movy }}" width="100">
                </a>
        
               <!-- <li>  {{movy}} </li>-->
            {% endfor %}
        </div>
    </li>
    
</ul>    
{% endblock %}
