{% extends "movies/layout.html" %} 

{% block title %} 
    MovieStore 
{% endblock %} 


{% block body %}    
<h2 id="title">Museoen zerrenda</h2>
<article id="Pulp Fiction" class="Card">
    <h2>Pulp Fiction</h2>
    <p class="year"> <span>YeR</span>:2000</p>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam perferendis necessitatibus facere sunt nihil natus aut voluptates dolores consequuntur! Maxime impedit omnis debitis, ullam nobis, distinctio voluptates, provident numquam beatae veritatis quos.</p>
    <p class="author">Lorem</p>
</article>
<article id="La lista de Schindler" class="Card">
    <h2>La lista de Schindler</h2>
    <p class="year"> <span>Year</span>:2000</p>
    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, totam veniam quia ex labore, est esse dolore deserunt commodi inventore ipsum libero error voluptates eveniet adipisci iste repudiandae architecto harum?</p>
    <p class="author">Lorem</p>
</article>
<article id="Bambi" class="Card">
    <h2>Bambi</h2>
    <p class="year"> <span>Year</span>:2000</p>
    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam atque ducimus velit harum mollitia! Quisquam laudantium laboriosam fugit. Optio quidem id voluptates ipsum nemo in quasi ab dignissimos facilis incidunt.</p>
    <p class="author">Lorem</p>
</article>
<article id="Million Dollar Baby" class="Card">
    <h2>Million Dollar Baby</h2>
    <p class="year"> <span>Year</span>:2000</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate natus praesentium architecto sit quae placeat. Consectetur reiciendis accusantium dolorem nobis, voluptatem aliquid atque asperiores ea eaque ipsam laborum error ad?</p>
    <p class="author">Lorem</p>
</article>
<article id="Zodiac" class="Card">
    <h2>Zodiac</h2>
    <p class="year"> <span>year</span>:2000</p>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellat mollitia tempora, quibusdam ratione fugiat dolor nemo officia esse sunt tempore earum voluptatum ad praesentium ducimus obcaecati dignissimos non tenetur?</p>
    <p class="author">Lorem</p>
</article> 
{% endblock %}
