{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>MovieStore</title>
        <link href="{% static 'movies/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        
        <div>
            <div>
                <a href="{% url 'index' %}">Home</a>
            </div>
            <div>
                <a href="{% url 'director' %}">Directores</a>
            </div>

            <div>
                <a href="{% url 'genero' %}">Generos</a>
            </div>

            <div>
                <a href="{% url 'lista' %}">Peliculas</a>
            </div>

            


        </div>

        {% block body %}
        {% endblock %}
    





    </body>







</html>