{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MovieStore</title>
        <link rel="shortcut icon" href="{% static 'movies/images/cine.png' %}" type="image/x-icon">
        <script src="{% static 'movies/scripts/peliculas.js' %}"></script>
        <link href="{% static 'movies/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        <header>
        <div id = "moviestore">
            <a id = "perfil" href ="{% url 'login' %}">
                <img src="{% static 'movies/images/perfil.png' %}" alt="perfil"  style="width:60px;height:auto;">
                <div id="usuario">
                    <p><strong>Usuario:</strong></p>
                    {% if user.is_authenticated %}
                        <p> {{ user }}</p>
                    {% endif %}
                </div>
            </a>
            <h1>MOVIESTORE</h1>
        </div>

        <div id = "indice">
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
          
                    <li><a href="{% url 'director' %}">Directores</a></li>
            
                    <li><a href="{% url 'genero' %}">Generos</a></li>

                    <li><a href="{% url 'lista' %}">Peliculas</a></li>
                    
                    <li><a href="{% url 'formulario' %}">Alquilar</a></li>
                </ul>
            

            </nav>
        </div>
        </header>
        {% block body %}
        {% endblock %}

        <footer>
            <div id="info">
                <p><strong>Dirección:</strong> Calle 123, Ciudad de Películas, CP 45678</p>
                <p><strong>Email:</strong> moviestore@gmail.com</p>
                <p><strong>Teléfono:</strong> +34 123 456 789</p>
                <p>&copy; 2024 MovieStore. Todos los derechos reservados.</p>
            </div>
        </footer>

    </body>

</html>