{% extends "movies/layout.html" %} 
{% load static%}
{% block title %} MovieStore {% endblock %} 


{% block body %}   
    <div id = "peliculas"> <!-- Para modificar únicamente esta parte en el 'styles.css' -->
        <h2><strong>Lista de Películas</strong></h2>
        <p>Explora todas nuestras películas</p>
        <div id = "lista">
            {% for entry in lista  %} 

                <a href="{% url 'detalles' nombre=entry tipo='lista' %}"> 
                    <p id = "pelicula"> {{entry}}</p>
                    <img src="{% static 'movies/images/' %}{{entry}}.jpg" alt="Portada de {{ entry }}" width="100">
                </a>
            {% endfor %} 
        </div>
    </div>   
{%endblock%}
